# Object files
*.o

libwebsockets-1.4-chrome43-firefox-36/*
ccan/*

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
\#*\#

# Executables
*.exe
*.out
*.app
server
bit
conf

# emacs
*~
